.audio-player {
  margin-top: 20px;
  padding: 8px 16px 0 8px;
  border-radius: 2px;
  border: none;
  background: $primary_action_color;
  color: $primary_color;
  outline: none;
  span {
    position: relative;
    top: -6px;
    font-size: 1.2rem;
    font-family: $primary_bengali_font;
  }
  @media all and (min-width: 0) and (max-width: 480px) {
    margin-top: 8px;
    padding: 8px 10px 0 4px;
    .material-icons {
      font-size: 1.2rem;
    }
    span {
      font-size: 1rem;
      top: -4px;
    }
  }
  &::-moz-focus-inner {
    outline: none;
    border: 0;
  }
}
