.section {
  text-align: center;
  padding: 0 150px;
  .arabic {
    font-family: $primary_arabic_font;
    font-size: 2.5rem;
    margin-bottom: 16px;
    line-height: 3.5rem;
  }
  .bangla {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0 3rem;
  }
  .dua-ref {
    margin-bottom: 0;
  }
  @media all and (min-width: 0) and (max-width: 667px) {
    padding: 0 32px;
    .arabic {
      font-size: 2rem;
      line-height: 2.8rem;
    }
    .bangla {
      font-size: 1.2rem;
      line-height: 2rem;
      padding: 0;
    }
  }

  @media all and (min-width: 0) and (max-width: 480px) {
    .arabic {
      margin-bottom: 8px;
      line-height: 1.3;
    }
    .bangla {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 8px;
    }
  }

  @media all and (min-width: 481px) and (max-width: 667px) and (orientation: landscape) {
    padding: 0 32px;
    .arabic {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    .bangla {
      font-size: 1rem;
      line-height: 1.8rem;
      padding: 0;
    }
  }
  @import "styles/components/_AudioPlayer.scss";
}
