* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary_bengali_font;
  color: $primary_color;
  background-color: $primary_bg_color;
  font-size: 20px;
  background: url('/img/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* a {
  color: $primary_action_color;
  text-decoration: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
